@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.content {
  flex: 1;
}

.container {
  width: 95%;
  max-width: 76.5rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

section {
  padding: 6rem 0;
}

.show-menu {
  transform: translateX(0) !important;
}

.header {
  padding: 1rem 0;
  font-weight: 600;
  background-color: #232323;
  color: #efefef;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header .menu-icon {
    display: none;
  }
}
.header__buttons {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 70%;
  background-color: #232323;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateX(100%);
  transition: 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .header__buttons {
    position: static;
    padding: 0;
    width: auto;
    height: auto;
    transform: translateX(0);
    flex-direction: row;
    gap: 1rem;
  }
}
.header button {
  all: unset;
  cursor: pointer;
}
.header .btn-close {
  position: relative;
  top: -1rem;
  align-self: end;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .header .btn-close {
    display: none;
  }
}
.header .btn {
  text-transform: capitalize;
  padding: 0.6rem 1.2rem;
  border: 1.5px solid;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  transition: all 300ms;
}
.header .btn--outline:hover {
  border-color: #4c5fd5;
  color: #4c5fd5;
}
.header .btn--fill {
  background-color: #4c5fd5;
  border-color: #4c5fd5;
}
.header .btn--fill:hover {
  background-color: #dadbf1;
}

.intro {
  text-align: center;
  background-color: #dadbf1;
}
.intro h1 {
  text-transform: capitalize;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3.5rem;
}
.intro__input-box {
  position: relative;
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
}
.intro__input-box i {
  position: absolute;
  bottom: 30%;
  right: 1rem;
  color: #4c5fd5;
  cursor: pointer;
}
.intro input {
  all: unset;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.75rem 1rem;
  border-radius: 10rem;
  border: 2px solid #4c5fd5;
  text-align: left;
}

.help-items {
  background-color: #efefef;
}
@media screen and (min-width: 768px) {
  .help-items__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
.help-items__card {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .help-items__card {
    grid-template-columns: 35% 1fr;
  }
}
@media screen and (min-width: 768px) {
  .help-items__card {
    margin-bottom: 0;
  }
}
.help-items__card-title, .help-items__card-text {
  margin-bottom: 1rem;
}
.help-items__card a {
  color: #4c5fd5;
  text-decoration: none;
  transition: all 255ms;
}
.help-items__card a:hover {
  color: #dadbf1;
}

.footer {
  background-color: #232323;
  color: #efefef;
  padding: 4rem 0 2rem;
}
.footer .container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .footer .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.footer__comp-details {
  text-align: center;
  order: 1;
}
@media screen and (min-width: 768px) {
  .footer__comp-details {
    text-align: left;
  }
}
.footer h4 {
  text-transform: uppercase;
  text-decoration: underline;
}
.footer a {
  color: #dadbf1;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.25rem 0;
  display: inline-block;
}
.footer a:hover {
  color: #4c5fd5;
}

/*# sourceMappingURL=compiled_styles.css.map */
