@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$color-accent: #4c5fd5;
$color-secondary: #dadbf1;
$color-black: #232323;
$color-white: #efefef;

$font-fam: "Open Sans", sans-serif;